@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
	Layout = "";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" media="all" type="text/css" />
<link href="~/css/bootstrap-multiselect.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/style.css" media="all" type="text/css" />
<link rel="stylesheet" href="~/css/component.css" media="all" type="text/css" />
<link href="~/css/datepicker.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/library/jquery.md5.min.js"></script>
<script src="~/include/jquery-ui.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/library/formdata.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link href="~/css/customeprint.css" rel="stylesheet" />
<div class="container  _grid_860">
	<h3 class="text-center _mHead">Application for empanelment of Chemist (eC)</h3>
	<div class="_thanks">
		<p><img src="~/images/correct-sign.png" alt="Correct Sign" /></p>
		<h2>Thanks</h2>
		<h4>Your application has been successfully submitted.</h4>
		<h4>Your reference number : <strong>esices009889</strong></h4><br>
	</div>

	<div id="container_data">
		<ul class="_formR bSt viewPGstys">


			<li>
				<h4 class="_subHD">Name of Firm</h4>


				<div class="_fGROUP _clearBx">
					<div class="col-sm-12">
						<label>Name of Firm</label>
						Shubham software pvt ltd
					</div>
				</div>
			</li>
			<li>
				<h4 class="_subHD">Name of Proprietor (s)</h4>
				<div class="_fGROUP _clearBx">
					<div class="col-sm-4">
						<label>First Name</label>
						Shubham
					</div>
					<div class="col-sm-4">
						<label>Middle Name</label>
						kumar
					</div>
					<div class="col-sm-4">
						<label>Last Name</label>
						Sharma
					</div>
				</div>
			</li>
			<li>
				<div class="_fGROUP _clearBx">
					<h4 class="_subHD">Address</h4>
					<div class="col-sm-4">
						<label>Locality</label>
						Ghaziabad
					</div>
					<div class="col-sm-4">
						<label>Address</label>
						Premgali sanjay colony Arthala
					</div>
					<div class="col-sm-4">
						<label>City/District/Town</label>
						Ghaziabad
					</div>
					<div class="col-sm-4">
						<label>Landmark</label>
						Primary school
					</div>
					<div class="col-sm-4">
						<label>Pincode</label>
						201007
					</div>
					<div class="col-sm-4">
						<label>State</label>
						Uttar Pradesh
					</div>
				</div>
			</li>
			<li>
				<div class="_fGROUP _clearBx">
					<h4 class="_subHD">Registration Details</h4>
					<div class="col-sm-4">
						<label>Name of License</label>
						Shubham sharma
					</div>
					<div class="col-sm-4">
						<label>License/Registration No.</label>
						123456789
					</div>
					<div class="col-sm-4">
						<label>Date Of Registration</label>
						11/12/2001
					</div>
					<div class="col-sm-8">
						<label>Issue Authority</label>
						NHCIL Authority
					</div>
					<div class="col-sm-4">
						<label>Valid Upto</label>
						12/12/2010
					</div>
				</div>
			</li>
			@* <li>
			<div class="_fGROUP _clearBx">
			<h4 class="_subHD">Registration Details</h4>


			<div class="row">
			<div class="col-sm-2">
			<label>Name of License</label>
			Shubham sharma
			</div>
			<div class="col-sm-3">
			<label>License/Registration No.</label>
			123456789
			</div>
			<div class="col-sm-2">
			<label>Date Of Registration</label>
			11/12/2001
			</div>
			<div class="col-sm-3">
			<label>Issue Authority</label>
			NHCIL Authority
			</div>
			<div class="col-sm-2">
			<label>Valid Upto</label>
			12/12/2010
			</div>
			</div>
			</div>
			</li> *@
			<li>
				<div class="_fGROUP _clearBx">

					<div class="col-sm-4">
						<label>GST No.</label>
						123456tgb
					</div>

					<div class="col-sm-4">
						<label>Permanent Account Number</label>
						optop2345
					</div>
					<div class="col-sm-4">
						<label>Mobile No. (Same as Aadhaar No.)</label>
						9009090909
					</div>
				</div>
			</li>
			<li>
				<div class="_fGROUP _clearBx">
					<h4 class="_subHD">Discount</h4>
					<div class="col-sm-6">
						<label>Listed Medicine (%)</label>
						10
					</div>
					<div class="col-sm-6">
						<label>Unlisted Medicine (%)</label>
						20
					</div>
				</div>
			</li>

			<li>
				<div class="_fGROUP _clearBx">
					<h4 class="_subHD">Documents Uploaded</h4>
					<div class="col-sm-12">
						<label>
							dfghjkfhgkjlg.pdf
						</label>
					</div>
				</div>
			</li>

		</ul>
	</div>
	<li>
		<div class="_subBTN">
			<a href="#" class="_btn _search" onclick="window.print();">Print</a>
			<a href="~/MimpApp/index" class="_btn _search">Back to Home</a>
		</div>
	</li>
</div>
